

<div  ng-repeat="writer in obj.writers">
    <table class="table fixed_headers" sticky-headers="productDetail.configurations">
        <thead>
            <tr style="width: 100%">
                <th class="twentyfive-percent">License</th>
                <th class="twentyfive-percent">Configurations</th>
                <th class="twentyfive-percent">UPC</th>


                <!--<th class="twenty-percent">Catalog #</th>-->
                <th class="centered five-percent" style="width: 5%">Unlicensed</th>
                <th class="centered five-percent" style="width: 5%">Licensed</th>
                <th class="centered five-percent" style="width: 5%">Total Comp</th>
                <th class="centered five-percent" style="width: 5%">Released</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="prod in obj.productHeader">
                <td>License Name</td>
                <td>
                    <!-- temp needs to change when we get configuration.type back from recs -->
                    <span class="icon config-physical" ng-class="config.configuration.id | returnConfigurationIcon"></span><span ng-bind="config.configuration.name"></span>
                </td>
                <td> <span ng-bind="config.upc"></span></td>
                <!--<td class="twenty-percent">{{config.record_number}}</td>-->


                <td class="centered">2.4083(Not wired)</td>
                <td class="centered">0.00(Not wired)</td>
                <td class="centered">2.4083(Not wired)</td>
                <td class="centered"><span ng-bind="config.releaseDate | timezone | date:'MM/dd/yyyy'"></span></td>
            </tr>
        </tbody>
    </table>
</div>