<div class="modal-header">
    <h3 class="modal-title">Writers Consent</h3>
    <button class="btn btn-default narrow close-modal" ng-click="$parent.cancel()"><span class="icon cancel"></span></button>
</div>
<div class="modal-body writers-consent">

   <label>Consent Level </label> 

    <div class="dropdown" dropdown is-open="status.isopen">
        <button type="button" class="dropdown-toggle btn btn-default" id="consentType" data-toggle="dropdown" ng-disabled="disabled" ng-click="getConsentTypes()" ng-class="{'field-error': !is_valid_field(selectedConsentType.writersConsentType) && modal_submit}">
            <span ng-bind="selectedConsentType.writersConsentType"></span><span class="caret"></span>
        </button><label>&nbsp;&nbsp;<span ng-bind="selectedConsentType.description"></span></label>
        <ul class="dropdown-menu" role="menu" aria-labelledby="consentType">
            <li ng-repeat="consentType in consentTypes">
            <a href="#" ng-click="selectConsentType(consentType);$event.preventDefault()"><span ng-bind="consentType.writersConsentType"></span>&nbsp;<span ng-bind="consentType.description"></span></a>
            </li>
        </ul>
    </div>


    
    <br /><br />
  
    <label>Upload a file to add to the license document</label><br />
    <section class="file-upload">
        <input type="file" class="filestyle" id="fileToUpload" customfileupload />
        <button class="btn btn-default" ng-click="upload()"><span class="icon upload-doc"></span>Upload</button>
        <br />
        <!-- We only show this progress bar as items are uploaded -->
        <progress id="progressbar" class="progress-striped" value="0" max="100" ng-show="progressVisible">0%</progress>
    </section>

    <!-- We only show this section if there are documents already attached -->
    <label>License Attachments</label><br />
    <section class="attachments">
        <table class="table">
            <thead>
                <tr>
                    <th class="one-percent centered"></th>
                    <th class="fifty-percent">File Name</th>
                    <th class="fifteen-percent">Date Uploaded</th>
                    <th class="fifteen-percent">Uploaded By</th>
                    <th class="fifteen-percent centered">Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="licenseAttachments.length==0">
                    <td class="eigthyfive-percent centered">
                        There are no attachments on this License.
                    </td>
                </tr>
                <tr ng-repeat="attachment in licenseAttachments">
                    <td class="centered"><input type="checkbox" /></td>
                    <td><label><span ng-bind="attachment.fileName"></span></label></td>
                    <td><span ng-bind="attachment.uploaddedDate | timezone | date:'MM/dd/yyyy'"></span></td>
                    <td><span ng-bind="attachment.contact.fullName"></span></td>
                    <td class="centered"><button class="btn btn-default narrow" ng-click="removeFile(attachment)"><span class="icon remove"></span></button></td>
                </tr>
            </tbody>
        </table>
    </section>

    <br /><br />

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>