<div class="modal-header">
    <h3 class="modal-title">Edit Rates <!--licId={{licenseDetails.licenseId}}--></h3>
    <button class="btn btn-default narrow close-modal" ng-click="cancel()"><span class="icon cancel"></span></button>
</div>
<div class="modal-body rates">
    <section class="select-writers">
        <table class="table" data-toggle="tooltip" title="Select filters here for what you want to apply rates to">
            <thead>
                <tr>
                    <th class="fifteen-percent">Product</th>
                    <th class="fifteen-percent">Config</th>
                    <th class="fifteen-percent">Track</th>
                    <th class="fifteen-percent">Writer</th>
                    <th class="fifteen-percent">Status</th>
                    <th class="fifteen-percent">Rate Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="dropdown pull-left">
                            
                            <button class="dropdown-toggle btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="UpdateProductDLL()">
                                {{selectedProduct.length==0 ? "Select" : "Products"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="dropdownMenu1" multiselect-dropdown>
                                <li ng-repeat="product in products" ng-click="selectProduct(product)" ng-show="product.display">
                                    <input type="checkbox" ng-model="product.selected"/>
                                    <label ng-click="$event.preventDefault()"><span ng-bind="product.productHeader.title"></span></label>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown pull-left">
                            <button class="dropdown-toggle btn btn-default" type="button" id="dropdownMenu1" ng-click="UpdateConfigDDL()" data-toggle="dropdown" aria-expanded="true">
                                {{selectedConfigurations.length==0 ? "Select" : "Configs"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="dropdownMenu1" multiselect-dropdown>
                                <li ng-repeat="configuration in configurations  | unique:'uniqeId'" ng-click="selectConfiguration(configuration)" ng-show="configuration.display">
                                    <input type="checkbox" ng-model="configuration.selected" />
                                    <label ng-click="$event.preventDefault()"><span ng-bind="configuration.configuration.name"></span><span ng-if="configuration.upc">(<span ng-bind="configuration.upc"></span>)</span></label>
                                </li>
                            </ul>
                        </div>
                    </td>


                    <td>
                        <div class="dropdown pull-left">
                            <button class="dropdown-toggle btn btn-default" type="button" id="dropdownMenu1" ng-disabled="disabled" data-toggle="dropdown" aria-expanded="true" ng-click="UpdateTrackDDL()">
                                {{selectedRecordings.length==0 ? "Select" : "Recording(s)"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="dropdownMenu1" multiselect-dropdown>
                                <li ng-repeat="recording in recordings" ng-click="selectRecording(recording);" ng-show="recording.display">
                                    <input type="checkbox" ng-model="recording.selected" />
                                    <label ng-click="$event.preventDefault()"><span ng-bind="recording.track.title"></span></label>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown pull-left">
                            <button class="dropdown-toggle btn btn-default" type="button" ng-disabled="disabled" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="updateWriterDDL()">
                                {{selectedWriters.length==0 ? "Select" : "Writer(s)"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="dropdownMenu1" multiselect-dropdown>
                                <li ng-repeat="writer in writers | unique:'caeNumber' | orderBy:'name'" ng-click="selectWriter(writer);" ng-show="writer.display">
                                    <input type="checkbox" ng-model="writer.selected" />
                                    <label ng-click="$event.preventDefault()"><span ng-bind="writer.name"></span></label>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown pull-left">
                            <button class="dropdown-toggle btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="UpdateStatusDDL()">
                                {{selectedSpecialStatuses.length==0 ? "Select" : "Status(s)"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" multiselect-dropdown>
                                <li ng-repeat="specialstatus in specialstatuses | unique:'specialStatusId'" ng-click="selectStatus(specialstatus)" ng-show="specialstatus.display">
                                    <input type="checkbox" ng-model="specialstatus.selected" />
                                    <label ng-click="$event.preventDefault();"><span ng-bind="specialstatus.lU_SpecialStatuses.specialStatus"></span></label>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown pull-left">
                            <button class="dropdown-toggle btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="UpdateRateTypeDDL()">
                                {{selectedRateType.length==0 ? "Select" : "Rate Type(s)"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" multiselect-dropdown>
                                <li ng-repeat="ratetype in ratetypes | unique:'rateTypeId'" ng-click="selectRateType(ratetype);" ng-show="ratetype.display">
                                    <input type="checkbox" ng-model="ratetype.selected" />
                                    <label ng-click="$event.preventDefault();"><span ng-bind="ratetype.rateType"></span></label>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="applied-filters" ng-if="selectedProduct!=null">
            <li><label>Selected:</label> </li>
            <!-- Samuel this should be repeated for each product as shown in the latest comp We need to see the configs on the same row as the product they belong to -->
            <li class="filter-wrapper" ng-if="selectedProduct.length != 0">Product(s)<span class="filter-item" ng-repeat="product in selectedProduct"><span ng-bind="product.productHeader.title"></span><span class="icon icon-sm remove" ng-click="unselectProduct(product);$event.preventDefault()"></span></span></li>
            <li class="filter-wrapper" ng-if="selectedConfigurations.length != 0">Configuration(s)<span class="filter-item" ng-repeat="configuration in selectedConfigurations | unique:'uniqeId'"><span ng-bind="configuration.configuration.name"></span>&nbsp;<span ng-show="configuration.upc != null">(<span ng-bind="configuration.upc"></span>)</span><span class="icon icon-sm remove" ng-click="unselectConfiguration(configuration);$event.preventDefault()"></span></span></li>
            <!-- End Repeater Here -->
            <li class="filter-wrapper" ng-if="selectedRecordings.length!=0">Track(s)<span class="filter-item" ng-repeat="recording in selectedRecordings"><span ng-bind="recording.track.title"></span><span class="icon icon-sm remove" ng-click="unselectTrack(recording)"></span></span> </li>
            <li class="filter-wrapper" ng-if="selectedWriters.length!=0">Writer(s)<span class="filter-item" ng-repeat="writer in selectedWriters | unique:'caeNumber'"><span ng-bind="writer.name"></span> <span class="icon icon-sm remove" ng-click="unselectWriter(writer)"></span></span> </li>
            <li class="filter-wrapper" ng-if="selectedSpecialStatuses.length!=0">Status(s)<span class="filter-item" ng-repeat="status in selectedSpecialStatuses | unique:'specialStatusId'"><span ng-bind="status.lU_SpecialStatuses.specialStatus"></span><span class="icon icon-sm remove" ng-click="unselectStatus(status)"></span></span> </li>
            <li class="filter-wrapper" ng-if="selectedRateType.length!=0">RateType(s)<span class="filter-item" ng-repeat="ratetype in selectedRateType | unique:'rateTypeId'"><span ng-bind="ratetype.rateType"></span><span class="icon icon-sm remove" ng-click="unselectRateType(ratetype)"></span></span> </li>
        </ul>

    </section>

    <section class="writer-configurations">
        <!--<table class="table">
            <thead data-toggle="tooltip" title="This section is for what you want applied to filter above">
                <tr>
                    <th class="fifty-percent">Writer(s)</th>
                    <th class="five-percent">Override</th>
                    <th class="one-percent centered">Sample</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>({{computedWriterIds.length}}) Writer(s)</td>
                    <td>
                        <input type="text" ng-model="EditData.splitOverride" />
                    </td>
                    <td class="centered">
                        <input type="checkbox" ng-model="EditData.isSample" />
                    </td>
                   
                </tr>
            </tbody>
        </table>-->
        <!--<section class="apply-rates">-->
            <table class="table">
                <thead>
                    <tr>
                        <th class="twenty-percent">Configurations</th>
                        <th class="ten-percent">Status</th>
                        <th class="ten-percent">Rate Type</th>
                        <th class="five-percent">&nbsp;<span ng-show="EditData.rates[0].visibleYear">Stat Year</span></th>
                        <th class="five-percent">&nbsp;<span ng-show="EditData.rates[0].visibleStat">% Stat</span></th>
                        <th class="fifteen-percent">&nbsp;<span ng-show="EditData.rates[0].visibleThreshold">Threshold</span></th>
                        <th class="ten-percent">&nbsp;<span ng-show="EditData.rates[0].visibleRate">Rate</span></th>
                        <th class="five-percent">Paid Qtr</th>
                        <th class="ten-percent centered no-wrap">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rate in EditData.rates">
                        <td class="ten-percent"><!--<span class="icon config-physical" ng-show="rate.isFirstRate"></span>--></td>
                        <td>
                            <div class="dropdown pull-left" ng-if="$index == 0">
                                <button class="dropdown-toggle btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="getSpecialStatus()">
                                    <span ng-if="EditData.selectedStatuses.length == 0">Select Status</span>
                                    <span ng-if="EditData.selectedStatuses.length == 1"><span ng-bind="EditData.selectedStatuses.length"></span>&nbsp;Selected</span>
                                    <span ng-if="EditData.selectedStatuses.length > 1"><span ng-bind="EditData.selectedStatuses.length"></span>&nbsp;Selected</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" multiselect-dropdown>
                                    <li ng-repeat="status in specialstatusesForSave" ng-click="selectSpecialStatusForSave(status);">
                                        <input type="checkbox" ng-model="status.selected" id="editstatus_{{status.specialStatusId}}" /><label for="editstatus_{{status.specialStatusId}}"><span ng-bind="status.specialStatus"></span></label>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="ten-percent">
                            <div class="dropdown pull-left" ng-show="rate.isFirstRate">
                                <button class="dropdown-toggle btn btn-default rate-type" type="button" id="rateTypeDropdown" data-toggle="dropdown" aria-expanded="true" ng-click="getRateTypes()">
                                    <span ng-bind="rate.selectedRateType.rateType"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="rateType in ratetypesForSave">
                                        <a href="" ng-click="selectRateTypeForSave(rate,rateType);$event.preventDefault();"><span ng-bind="rateType.rateType"></span></a>
                                    </li>
                                </ul>
                                
                            </div>
                        </td>
                        <td class="five-percent">
                            <div class="dropdown pull-left" ng-show="rate.visibleYear">
                                <button class="dropdown-toggle btn btn-default stat-year" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    <span ng-bind="rate.statYear"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="year in years">
                                        <a href="" ng-click="selectYear(rate, year);$event.preventDefault();"><span ng-bind="year"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="five-percent">
                            <input type="text" value="100" ng-model="rate.percentOfStat" class="rateStatPrcentage" ng-show="rate.visibleStat" digits-only under-value="100" />
                        </td>
                        <td class="fifteen-percent"><input type="text" ng-model="rate.escalatedRate" ng-show="rate.visibleThreshold" /></td>
                        <td class="ten-percent" ><input type="text" ng-model="rate.rate" ng-show="rate.visibleRate" class="rateValue" digits-only under-value="10" /></td>
                        <td>
                            <div class="dropdown pull-left" ng-if="$index == 0">
                                <button class="dropdown-toggle btn btn-default paid-quarter" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="getQuarters()">
                                    <span ng-if="EditData.paidQtr == null">N/A</span>
                                    <span ng-if="EditData.paidQtr != null"><span ng-bind="EditData.paidQtr"></span></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="qtr in quarters">
                                        <a href="" ng-click="selectQuarter(qtr)"><span ng-bind="qtr.paidQuarter"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="ten-percent centered no-wrap">
                            <button class="btn btn-default narrow" ng-show="rate.visibleAdd" ng-click="addRate(rate)"><span class="icon add"></span></button>
                            <button class="btn btn-default narrow" ng-show="rate.visibleRemove && !rate.isFirstRate" ng-click="removeRate(rate)"><span class="icon remove"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        <!--</section>-->
    </section>

</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok(false)">Save</button>
    <button class="btn btn-default" ng-click="ok(true)">Save and Close</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>


<!--TOM below are the fields for each row -refer to the first dropdown default like *******HERE******* to see which rate type it is-->
<!--<tr>
    <td><span class="icon config-physical"></span>CD/DVD</td>
    <td>
        <div class="dropdown pull-left">
            <button class="dropdown-toggle btn-default btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">

                Controlled: Fixed   ***************************************************HERE**************************************

                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Statuatory</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gratis</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Compulsory</a></li>
            </ul>
        </div>
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
       <input type="checkbox" />
    </td>
    <td></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td>
        <button class="btn btn-default narrow"><span class="icon add"></span></button>
        <button class="btn btn-default narrow"><span class="icon remove"></span></button>
    </td>
</tr>-->
<!--<tr>
    <td><span class="icon config-physical"></span>EP</td>
    <td>
        <div class="dropdown pull-left">
            <button class="dropdown-toggle btn-default btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Controlled: Stat
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Statuatory</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gratis</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Compulsory</a></li>
            </ul>
        </div>
    </td>
    <td>
        <input type="text" /> **** Year Datepicker
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="checkbox" />
    </td>
    <td></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td>
        <button class="btn btn-default narrow"><span class="icon add"></span></button>
        <button class="btn btn-default narrow"><span class="icon remove"></span></button>
    </td>
</tr>-->
<!--<tr>
    <td><span class="icon config-physical"></span>CD/DVD</td>
    <td>
        <div class="dropdown pull-left">
            <button class="dropdown-toggle btn-default btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Reduced: Fixed
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Statuatory</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gratis</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Compulsory</a></li>
            </ul>
        </div>
    </td>
    <td>
        <input type="text" />*** Year Datepicker
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="checkbox" />
    </td>
    <td></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td>
        <button class="btn btn-default narrow"><span class="icon add"></span></button>
        <button class="btn btn-default narrow"><span class="icon remove"></span></button>
    </td>
</tr>-->
<!--<tr>
    <td><span class="icon config-physical"></span>EP</td>
    <td>
        <div class="dropdown pull-left">
            <button class="dropdown-toggle btn-default btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Reduced: Stat
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Statuatory</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gratis</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Compulsory</a></li>
            </ul>
        </div>
    </td>
    <td>
        <input type="text" /> ****Year Datepicker
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="checkbox" />
    </td>
    <td></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td>
        <button class="btn btn-default narrow"><span class="icon add"></span></button>
        <button class="btn btn-default narrow"><span class="icon remove"></span></button>
    </td>
</tr>-->
<!--<tr>
    <td><span class="icon config-physical"></span>12&quot; Vinyl</td>
    <td>
        <div class="dropdown pull-left">
            <button class="dropdown-toggle btn-default btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Gratis
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Statuatory</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gratis</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Compulsory</a></li>
            </ul>
        </div>
    </td>
    <td>
        <input type="text" />**** Year Datepicker
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="checkbox" />
    </td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td>
        <button class="btn btn-default narrow"><span class="icon add"></span></button>
        <button class="btn btn-default narrow"><span class="icon remove"></span></button>
    </td>
</tr>-->
<!--<tr>
    <td><span class="icon config-physical"></span>12&quot; Vinyl</td>
    <td>
        <div class="dropdown pull-left">
            <button class="dropdown-toggle btn-default btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Compulsory
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Statuatory</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Controlled: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Fixed</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Reduced: Stat</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gratis</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Compulsory</a></li>
            </ul>
        </div>
    </td>
    <td>
        <input type="text" />*****Year Datepicker
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="text" />
    </td>
    <td>
        <input type="checkbox" />
    </td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td><input type="text" /></td>
    <td>
        <button class="btn btn-default narrow"><span class="icon add"></span></button>
        <button class="btn btn-default narrow"><span class="icon remove"></span></button>
    </td>
</tr>-->