<div class="modal-header">
    <h3 class="modal-title">License Writer(s)</h3>
    <button class="btn btn-default narrow close-modal" ng-click="$parent.cancel()"><span class="icon cancel"></span></button>
</div>
<div class="modal-body license-writer">


   <label>Include/Exclude Writer</label> 

    <div class="dropdown" dropdown is-open="status.isopen">
        <button type="button" class="dropdown-toggle btn btn-default" data-toggle="dropdown" ng-disabled="disabled">
            <span class="icon {{getIncludedIcon(selectedWriterInclude)}}"></span><span ng-bind="selectedWriterInclude.name"></span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="writerIncludedChoice in writerIncludedChoices">
                <a href="#" ng-click="selectWriterInclude(writerIncludedChoice);$event.preventDefault()"><span class="icon {{getIncludedIcon(writerIncludedChoice)}}"></span><span ng-bind="writerIncludedChoice.name"></span></a>
            </li>
        </ul>
    </div>

    <br /><br />

    <label>Apply to</label>

    <div class="dropdown" dropdown is-open="status.isopen">
        <button type="button" class="dropdown-toggle btn btn-default" id="consentType" data-toggle="dropdown" ng-disabled="disabled" ng-click="getConsentTypes()" ng-class="{'field-error': !is_valid_field(selectedConsentType.writersConsentType) && modal_submit}">
            <span ng-bind="selectedConsentType.writersConsentType"></span><span class="caret"></span>
        </button><label>&nbsp;&nbsp;<span ng-bind="selectedConsentType.description"></span></label>
        <ul class="dropdown-menu" role="menu" aria-labelledby="consentType">
            <li ng-repeat="consentType in consentTypes">
                <a href="#" ng-click="selectConsentType(consentType);$event.preventDefault()"><span ng-bind="consentType.writersConsentType"></span>&nbsp;<span ng-bind="consentType.description"></span></a>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>