<section class="search-grid" id="Products-Grid">
    <section class="search-filters" ng-include="'app/views/partials/search-Filters.html'"></section>
    <!--<pre>{{products | json}}</pre>-->
    <!--<pre>{{selectedProductssFromGrid | json}}</pre>-->
    <!--<pre>{{allSelectedChecks | json}}</pre>
    <pre>Product Count: {{products.length | json}}</pre>
    <pre>Selected Count: {{selectedProductssFromGrid.length | json}}</pre>-->
    <ul class="grid-header clearfix">
        <li class="actions">
            <button security actions="ProductSummaryCreateProduct" ui-sref="SearchMyView.Tabs.ProductsTab.StepsModal.CreateProduct" class="btn btn-default"><span class="icon create-product"></span>Create Product</button>
            <button security actions="ProductSummaryCreateLicense" ui-sref="SearchMyView.Tabs.ProductsTab.StepsModal.CreateLicense({products:selectedProductssFromGrid})" ng-disabled="selectedProductssFromGrid.length === 0" class="btn btn-default"><span class="icon create-license"></span>Create License</button>
        </li>
        <li class="pagination">
            <pagination total-items="pagination.totalItems" items-per-page="pagination.numPerPage" ng-model="pagination.currentPage" ng-change="pageChanged()" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" isCollapsed="true"></pagination>
        </li>
        <li class="records">
            <span class="pull-left" ng-if="products.length>0">Viewing&nbsp;<span ng-bind="(((pagination.currentPage-1)*pagination.numPerPage)+1)"></span>&nbsp;-&nbsp;<span ng-bind="(((pagination.currentPage-1)*pagination.numPerPage)+1)+(products.length)-1"></span>&nbsp;of&nbsp;<span ng-bind="pagination.totalItems"></span></span>
            <span class="pull-left" ng-if="products.length==0">Viewing 0 results</span>
            <div class="dropdown">
                <button class="dropdown-toggle btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" ng-click="pagination.isCollapsed=!pagination.isCollapsed">
                    <span ng-bind="pagination.numPerPage"></span>
                    <span class="{{setCaret(pagination.isCollapsed)}}"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-click="changePageSize(pageSize);pagination.isCollapsed=true" ng-repeat="pageSize in pagination.pageSizeList"><a role="menuitem" tabindex="-1" href=""><span ng-bind="pageSize"></span></a></li>
                </ul>
            </div>
            <span class="pull-left"> results per page</span>
        </li>

        <li class="edit-columns">
            <div class="dropdown" dropdown on-toggle="editColumnsDropdown(open); isEditColumnsCollapsed = !isEditColumnsCollapsed">
                <button type="button" id="dropdownMenu1" class="btn btn-default" dropdown-toggle drop aria-expanded="true">
                    Edit Columns
                    <span class="{{setCaret(isEditColumnsCollapsed)}}"></span>
                </button>
                <ul class="dropdown-menu edit-rates-dropdown" role="menu" aria-labelledby="dropdownMenu1" multiselect-dropdown>
                    <li><label class="checkbox disabled">Required</label></li>
                    <li ng-repeat="column in columns | filter:{isDefault:true}">
                        <label class="checkbox disabled" for="#{{column.name}}-editcolumns"><input type="checkbox" ng-model="column.selected" ng-disabled="true" id="{{column.name}}-editcolumns" /><span ng-bind="column.name"></span></label>
                    </li>
                    <li><hr /></li>
                    <li ng-repeat="column in columns | filter:{isDefault:false}" ng-click="showHideColumn(column, $event)">
                        <label class="checkbox" for="#{{column.name}}-editcolumns"><input type="checkbox" ng-model="column.selected" ng-disabled="column.isDefault" id="{{column.name}}-editcolumns" /><span ng-bind="column.name"></span></label>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <table class="table" ng-if="products.length > 0" edit-columns="columns" hidden-columns="hiddenColumns" results-data="products">
        <thead>
            <tr>
                <th class="one-percent" data-type="select"><input type="checkbox" checklist-model="selectedProductssFromGrid" checklist-value="product" ng-checked="allSelectedChecks"   ng-click="selectAllProducts()" /></th>
                <th class="twentyfive-percent" data-default="true"><a href="" ng-click="sortSearch('title')">Product Title<span ng-if="sortBy=='title'" class="{{sortArrow}}"></span></a></th>
                <th class="twenty-percent"><a href="" ng-click="sortSearch('artist')">Artist<span ng-if="sortBy=='artist'" class="{{sortArrow}}"></span></a></th>
                <th class="twentyfive-percent"><a href="" ng-click="sortSearch('upc')">UPC<span ng-if="sortBy=='upc'" class="{{sortArrow}}"></span></a></th>
                <th class="ten-percent"><a href="" ng-click="sortSearch('catalogNumber')">Catalog #<span ng-if="sortBy=='catalogNumber'"></span></a></th>
               
                <th class="five-percent">Tracks</th>
                <th class="twenty-percent"><a href="" ng-click="sortSearch('label')">Label<span ng-if="sortBy=='label'" class="{{sortArrow}}"></span></a></th>
                <th class="five-percent"><a href="" ng-click="sortSearch('licenses')">Licenses<span ng-if="sortBy=='licenses'" class="{{sortArrow}}"></span></a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="product in products" class="editColumnsSelectable">

                <td class="one-percent"><input type="checkbox"  checklist-model="selectedProductssFromGrid" checklist-value="product" ng-click="optionToggled()"/></td>
                <td class="twentyfive-percent"><a ui-sref="SearchMyView.DetailProduct({productId: product.product_id})"><span ng-bind="product.title"></span></a></td>
                <td class="twenty-percent"><span ng-bind="product.recsArtist.name"></span></td>
                <td class="twentyfive-percent">
                    <span ng-repeat="con in product.productHeader.configurations | emptyOrNullUpc ">

                        <!--<span ng-if="con.upc != null ">{{con.upc}}{{$last ? "" : ", "}}</span>-->
                        <span ng-class="con.configuration.id | returnConfigurationIcon"></span>{{con.configuration.name}}<span><span ng-if="con.upc != null">({{con.upc}}){{$last ? "" : ", "}}</span></span>
                    </span>
                </td>
                <td class="ten-percent">
                    <span ng-repeat="con in product.productHeader.configurations | emptyOrNullCatalogNumber ">
                        <span ng-if="con.catalogNumber.length > 4">{{con.catalogNumber}}{{$last ? "" : ", "}}</span>
                    </span>
                </td>
                <td class="five-percent"><button class="btn-default" ng-disabled="product.recordingsNo == 0" ng-click="product.tracksCollapsed = !product.tracksCollapsed;clickExpandTracks(product)"><span ng-bind="product.recordingsNo"></span><span class="{{setCaret(!product.tracksCollapsed)}}"></span></button></td>
                <td class="twenty-percent"><span ng-bind="product.recsLabel.name"></span></td>
                <td class="five-percent"><button class="btn-default" ng-disabled="product.licensesNo == 0" ng-click="isCollapsed = !isCollapsed;check(isCollapsed,product.product_id);"><span ng-bind="product.licensesNo"></span><span class="{{setCaret(!isCollapsed)}}"></span></button></td>
            </tr>

            <tr>
                <td colspan="20" class="nested light shadow" ng-show="product.tracksCollapsed">
                    <table class="table nested light grid-track">
                        <thead>
                            <tr>
                                <th class="five-percent">Vol./Track</th>
                                <th class="twentyfive-percent">Title</th>
                                <th class="twentyfive-percent">Artist</th>
                                <th class="fifteen-percent">Length</th>
                                <th class="ten-percent">UMPG Writers</th>
                                <th class="five-percent">UMPG %</th>
                                <th class="ten-percent">PIPS #</th>
                                <th class="five-percent">ISRC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="productRecording in product.recordings">
                                <td class="five-percent"><span ng-bind="productRecording.cdNumber"></span>-<span ng-bind="productRecording.index"></span><!--({{recording.recsRecording.track_id}})({{recording.licenseRecordingId}})--></td>
                                <td class="twentyfive-percent"><span ng-bind="productRecording.track.title"></span>&nbsp;<span ng-if="productRecording.track.claimException==true" class="badge claim pull-right">CLAIM EXCEPTION</span></td>
                                <td class="twentyfive-percent"><span ng-bind="productRecording.track.artist.name"></span></td>
                                <td class="fifteen-percent"><span ng-bind="productRecording.track.duration"></span></td>
                                <td class="ten-percent"><span ng-bind="productRecording.track.controlledWriterCount"></span> </td>
                                <td class="five-percent"><span ng-bind="productRecording.umpgPercentageRollup | percentage:2"></span></td>
                                <td class="ten-percent"><span ng-repeat="copyright in productRecording.track.copyrights"><span ng-bind="copyright.workCode"></span></span></td>
                                <td class="five-percent"><span ng-bind="productRecording.track.isrc"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr ng-repeat-end>
                <td colspan="20" ng-show="isCollapsed">
                    <table class="table table-hover grid-license">
                        <thead>
                            <tr>

                                <th class="priority"><a href="">Pri</a></th>
                                <th class="assignee"><a href="">Assignee</a></th>
                                <th class="id"><a href="">License #</a></th>
                                <th class="title"><a href="">License Title</a></th>

                                <th class="artists"><a href="">Artists</a></th>
                                <th class="licensee"><a href="">Licensee</a></th>
                                <th class="method"><a href="">Method</a></th>
                                <th class="config"><a href="">Config</a></th>
                                <th class="created-by"><a href="">Created By</a></th>
                                <th class="type"><a href="">Type</a></th>
                                <th class="status"><a href="">Status</a></th>
                                <th class="created-date">Created</th>
                                <th class="modified-date">Modified</th>
                                <th class="signed-date">Signed</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="license in product.licenses">
                            <tr>
                                <td><span ng-class="{'priority high':license.priorityId==1,'priority medium':license.priorityId==2,'priority low':license.priorityId==3,'priority inbox':license.priorityId==4}"></span></td>
                                <td class="assignee"><span ng-bind="license.contact.fullName"></span></td>
                                <td class="id"><span ng-bind="license.licenseNumber"></span></td>
                                <td class="title"><a ui-sref="SearchMyView.DetailLicense({licenseId: license.licenseId})"><span ng-bind="license.licenseName"></span></a></td>

                                <td class="artists"><span ng-bind="license.artistRollup"></span></td>
                                <td class="licensee"><span ng-bind="license.licensee.name"></span></td>
                                <td class="method"><span ng-bind="license.licenseMethod.licenseMethod"></span></td>
                                <td class="config"><span ng-class="{'icon config-physical': license.licenseConfigurationRollup=='P', 'icon config-digital': license.licenseConfigurationRollup=='D', 'icon config-both': license.licenseConfigurationRollup=='B'}"></span></td>
                                <td class="created-by"><span ng-bind="license.contact2.fullName"></span></td>
                                <td class="type"><span ng-bind="license.licenseType.licenseType"></span></td>
                                <td class="status">
                                    <span class="status-label">
                                        <span ng-class="{'status-icon verifying': license.licenseStatus.licenseStatus=='Verifying', 'status-icon hold': license.licenseStatus.licenseStatus=='Hold', 'status-icon pending': license.licenseStatus.licenseStatus=='Pending', 'status-icon executed': license.licenseStatus.licenseStatus=='Executed', 'status-icon issued': license.licenseStatus.licenseStatus=='Issued', 'status-icon accepted': license.licenseStatus.licenseStatus=='Accepted', 'status-icon voided': license.licenseStatus.licenseStatus=='Voided', 'status-icon error': license.licenseStatus.licenseStatus=='Error'}">
                                        </span>
                                        <span ng-bind="license.licenseStatus.licenseStatus"></span>
                                    </span>
                                </td>
                                <td class="created-date"><span ng-bind="license.createdDate | timezone | date:'MM/dd/yyyy'"></span></td>
                                <td class="modified-date"><span ng-bind="license.modifiedDate | timezone | date:'MM/dd/yyyy'"></span></td>
                                <td class="signed-date"><span ng-bind="license.signedDate | timezone | date:'MM/dd/yyyy'"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="products.length == 0">No results found</div>
</section>