<tabset>
    <tab 
        select="go(tabs[0].route)"
        active="tabs[0].active">
        <tab-heading>
            Priority Report
        </tab-heading>
    </tab>
     <tab 
        select="go(tabs[1].route)"
        active="tabs[1].active">
        <tab-heading>
           Mechanical Report
        </tab-heading>
    </tab>
     <tab 
        select="go(tabs[2].route)"
        active="tabs[2].active">
        <tab-heading>
          Writer Consent Report
        </tab-heading>
    </tab>
</tabset>
<div ui-view id="My-View"></div>
