    <div ui-view="modalView"></div>

<!-- <div class="modal-footer">

    <!-- ****** CREATE LICENSE FIRST WORKFLOW ****** -->

    <!-- *** CREATE LICENSE *** -->
    <!--<button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default"><span class="icon create-license"></span>Create License &amp; Close</button>
    <button class="btn btn-default pull-right"><span class="icon add-product"></span>Add Products<span class="icon forward"></span></button>-->


    <!-- *** ADD PRODUCTS *** -->
    <!--
    <button class="btn btn-default"><span class="icon back"></span>Back</button>
    <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default pull-right"><span class="icon add-products"></span>Add Products</button>
    <button class="btn btn-default pull-right"><span class="icon add-configurations"></span>Select Configurations<span class="icon forward"></span></button>
    -->


    <!-- *** ADD CONFIGURATIONS *** -->
    <!--
    <button class="btn btn-default"><span class="icon back"></span>Back</button>
    <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default pull-right"><span class="icon add-configurations"></span>Add Configurations<span class="icon forward"></span></button>
    -->

    <!-- ////////////////////////////////////////////////////////////// -->

    <!-- ****** ADD PRODUCTS FIRST WORKFLOW ****** -->

    <!-- *** ADD PRODUCTS *** -->
    <!--
    <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default pull-right"><span class="icon add-products"></span>Add Products</button>
    <button class="btn btn-default pull-right"><span class="icon add-configurations"></span>Select Configurations<span class="icon forward"></span></button>
    -->

    <!-- *** ADD CONFIGURATIONS *** -->
    <!--
    <button class="btn btn-default"><span class="icon back"></span>Back</button>
    <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default pull-right"><span class="icon add-configurations"></span>Add Configurations<span class="icon forward"></span></button>
    -->

    <!-- ////////////////////////////////////////////////////////////// -->

    <!-- ****** ADD CONFIRUATIONS FIRST WORKFLOW ****** -->
    <!--
    <button class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default pull-right"><span class="icon add-configurations"></span>Add Configurations<span class="icon forward"></span></button>
    -->

    <!-- *** CREATE LICENSE *** -->
    <!--
    <button class="btn btn-default"><span class="icon back"></span>Back</button>
    
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-default"><span class="icon create-license"></span>Create License<span class="icon forward"></span></button>
    

</div>--> 