<section class="user-signup">
    
    <ul>
        <li>
            <h2>User Sign Up</h2>
        </li>
        <li>
            <label>UMG Network<b>*</b></label><input type="radio" /><span>Internal</span><input type="radio" /><span>External</span>
        </li>
        <li>
            <label>Account ID<b>*</b></label><input type="text" />
        </li>
        <li>
            <label>Users Name<b>*</b></label><input type="text" />
        </li>
        <li>
            <label>Company<b>*</b></label><input type="text" /><button class="btn btn-default">Edit Company</button>
        </li>
        <li>
            <label>Users Email<b>*</b></label><input type="text" />
        </li>
        <li>
            <label>Owning Office<b>*</b></label>
            <div class="dropdown">
    <button class="dropdown-toggle btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        USA
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li>
            <a href="">USA</a>
            <a href="">Canada</a>
        </li>
    </ul>
</div>
        </li>
        <li>
            <label>Admin<b>*</b></label><input type="checkbox" />
        </li>
        <li>
            <span class="form-buttons">
                <button class="btn btn-default"><span class="icon save"></span>Save</button>
                <button class="btn btn-default">Cancel</button>
            </span>
        </li>
    </ul>
   
</section>