

<form class="sky-form" id="sky-form4" action="">
    <dl class="dl-horizontal">
        <dt>First Name</dt>
        <dd>
            <section>
                <label class="input">
                    <input type="text" placeholder="FirstName" name="firstname">
                    <b class="tooltip tooltip-bottom-right">First Name</b>
                </label>
            </section>
        </dd>
        <dt>Last Name</dt>
        <dd>
            <section>
                <label class="input">
                    <input type="text" placeholder="lastname" name="lastname">
                    <b class="tooltip tooltip-bottom-right">Last Name</b>
                </label>
            </section>
        </dd>
        <dt>Also Known As</dt>
        <dd>
            <section>
                <label class="input">
                    <input type="text" placeholder="alsoknownas" name="alsoknownas">
                    <b class="tooltip tooltip-bottom-right">Also Known As</b>
                </label>
            </section>
        </dd>
        <dt>Is Active ?</dt>
        <dd>
            <section>
                <label class="input">
                    <input type="checkbox" checked="" name="checkbox-toggle-1">
                    <b class="tooltip tooltip-bottom-right">Is Active</b>
                </label>
            </section>
        </dd>
    </dl>

    <br />

    <button type="button" class="btn btn-primary">Cancel</button>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>  
